CC = x86_64-elf-gcc
LD = x86_64-elf-ld

C_FLAGS  = -g -O2 -pipe -Wall -Wextra
LD_FLAGS = 

C_FLAGS +=       \
	-std=gnu17           \
	-ffreestanding       \
	-fno-stack-protector \
	-fno-stack-check     \
	-fno-lto             \
	-fno-pie             \
	-fno-pic             \
	-m64                 \
	-march=x86-64        \
	-mabi=sysv           \
	-mno-80387           \
	-mno-mmx             \
	-mno-sse             \
	-mno-sse2            \
	-mno-red-zone        \
	-mcmodel=kernel      \
	-MMD                 \

LD_FLAGS +=         \
	-nostdlib               \
	-static                 \
	-m elf_x86_64           \
	-z max-page-size=0x1000 \
	-T linker.ld
